.wrapper{
    display: flex;
    height: 123px;
    justify-content: space-around;
}

.menu{
    display: flex;
    gap:30px;

    &_img{
        margin-top: 27px;
    }

    &_info{
        margin-top: 53px;
        display: flex;
        gap:45px;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 17.58px;

        div{
            transition: 0.5s;
            cursor: pointer;
        }
        div:hover{
            color:rgb(25, 125, 158);
        }
    }
}
.personal{
    display: flex;
    gap:30px;
    margin-top:37px;  

    div{
        cursor: pointer;
    }
}

.menu_icon{
    display: none;
}


@media (max-width:768px) {
    .wrapper{
        width:none;
        //justify-content: flex-start;
        height: none;
    }

    .none{
        display: none;
    }
    .menu_icon{
        display: block;
    }
}