.wrapper{
    background-color: #fff;
    border-radius: 16px;
}

.content{
    padding: 30px 30px 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    &_title{
        display: flex;
        align-items: center;
        gap:15px;
        padding-bottom:20px;
        border-bottom: 1.5px solid #F2F2F2;
    }

    &_subtitle{
        padding-top: 15px;
        border-top: 1.5px solid #F2F2F2;
        padding-bottom: 15px;
    }
}